.pokemonImage {
    height:200px;
    
}

.pokemonContainer {
    text-align: center;
    padding: 10px 200px;
    background-color:aliceblue;
}



li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }